<div class="container">
  <div class="content">
    <p>
      <i class="fa fa-slack" style="background: white; padding: 3px; color: #4D394B; font-size: 23px; border-radius: 5px;"></i>
    </p>
    <div class="signin">
      <%= form_tag do %>
      <div class="field-container">
        <%= text_field_tag :email, nil, placeholder: 'Email', class:'row' %>
        <%= password_field_tag :password, nil, placeholder: 'Passowrd', class: 'row' %>
      </div>
        <center>
      <%=submit_tag "Welcome Back", class:'signinsubmit'%>
    </center>
      <% end %>
      <p style="font-size:15px;">New to Slack?
        <%= link_to "Sign Up", sign_up_path, class:"signuplink" %></p>

    </div>
  </div>
</div>
