<div class="front-container">
  <div class="content">
    <div class="logo">
    <p style="color:#ffffff; font-size:29px; margin-right:15px;">
      <i class="fa fa-slack" style="color: white; font-size: 23px; border-radius: 5px;"></i> slack
    </p>
      </div>
      <div class="element">
    </div>
    <div class="signin">
      <%= form_tag do %>
      <div class="field-container">
        <%= text_field_tag :email, nil, placeholder: 'Email', class:'row' %>
        <%= password_field_tag :password, nil, placeholder: 'Password', class: 'row' %>
      </div>
        <center>
      <%=submit_tag "Welcome Back", class:'signinsubmit'%>
    </center>
      <% end %>
      <p style="font-size:15px;">New to Slack?
        <%= link_to "Sign Up", sign_up_path, class:"signuplink" %></p>

    </div>
  </div>
</div>

<script>
  $(function () {
    $(".element").typed({strings: [" A messaging app for teams who see through the Earth!!"], typeSpeed: 0});
  });
</script>
