
<div class="row">
  <div class="col-md-2">
    <p style="font-size:16px;"><em>#Channels</em></p>
</div>
<div class="col-md-8">
  <% if @current_user %>

  <p style="font-size:20px; color:#333333;">
    <em>
      <% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom.name, chatroom_path(id: chatroom.id), style: "color:#AB9BA9;"%>
    <% end %></em></p>
<% end %>
  <% if @current_user %>
<h4 style="font-size:25px; color: #333333;"><em>Please select a room to view or add a new one </em></h4>
<% else %>

<h2>Welcome to Slack</h2>

<h3>Log In to Slackfacker</h3>

<%= form_tag do %>
<div class="form-group">
  <%= label_tag :email %>
  <%= text_field_tag :email,"", class:'form-control' %>
</div>

<div class="form-group">
  <%= label_tag :password %>
  <%= password_field_tag :password,"", class: 'form-control' %>
</div>

<div class="form-group">
  <%= submit_tag "Log In", class:"btn btn-primary" %>
  or
  <%= link_to "Sign Up", sign_up_path %>
</div>
<% end %>
<% end %>
</div>
</div>
