  <div class="col-md-2">
    <div class="logo-rooms">
    <p style="color:#ffffff; font-size:29px; margin-right:15px;">
      <i class="fa fa-slack" style="color: white; font-size: 23px; border-radius: 5px;"></i> slack
    </p>
      </div>
<p style="font-size:15px;">
    <em><%= @current_user.first_name %></em>
  </p>
  <p style="font-size:16px;"><em><%= link_to 'Sign Out', sign_out_path, method: :delete, style: "color: #AB9BA9;" %></em></p>
    <p style="font-size:16px;"><em><%= link_to '#Channels', root_path, style: "color: #AB9BA9;"%></em></p>
    </div>
    <div class="col-md-8">
   <h3>Add a New Channel Here</h3>
<%= form_for @chatroom do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-success", value: "Add a Room" %>
      <% end %>
</div>
