<div class="wrapper">
  <div class="signin">
  <h3 style="color:#FFFFFF; font-size:27px;">Sign Up</h3>
<%= simple_form_for @user do |u| %>

  <div class="form-group">
<%= u.input :first_name,input_html: {class: "form-control"}%>
</div>
  <div class="form-group">
<%= u.input :last_name,input_html: {class: "form-control"}%>
</div>
  <div class="form-group">
<%= u.input :email,input_html: {class: "form-control"}%>
</div>
  <div class="form-group">
<%= u.input :password,input_html: {class: "form-control"}%>
</div>
  <div class="form-group">
<%= u.input :password_confirmation,input_html: {class: "form-control"}%>
</div>
  <div class="form-group">
<%= u.attachment_field :photo, class: "form-control-file" %>
 </div>
  <div class="form-group">
<%= u.submit "Sign Up", class: "btn btn-primary btn-block btn-lg" %>
</div>
<% end %>
</div>
</div>
