<div class="container">
  <div class="content">
      <div class="logo">
    <p style="color:#ffffff; font-size:29px; margin-right:15px;">
       <i class="fa fa-slack" style="color: white; font-size: 23px; border-radius: 5px;"></i> slack
    </p>
  </div>
    <div class="signup">
      <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, 'error') %> need your attention.
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <center>
<%= form_for @user do |f| %>
<%= f.text_field :first_name,placeholder:"First Name", class:"signuprow"%>
<%= f.text_field :last_name,placeholder:"Last Name", class:"signuprow"%>
<%= f.text_field :email,placeholder:"Email", class:"signuprow"%>
<%= f.password_field :password,placeholder:"Password", class:"signuprow"%>
<%= f.attachment_field :photo, class: "bsignuprowse" %>
<%= f.submit "Sign Up", class: "signinsubmit" %>
<% end %>
<p class="signupline">
  Already have an account?
  <%= link_to "Sign In", root_path, class:"signuplink" %>
</p>
</center>
</div>
</div>
</div>
