<div class="welcome-container">
  <div class="content">

    <div class="signup">
      <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, 'error') %> need your attention.
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <center>
<%= form_for @user do |f| %>
<%= f.text_field :first_name,placeholder:"First Name", class:"signupfield"%>
<%= f.text_field :last_name,placeholder:"Last Name", class:"signupfield"%>
<%= f.text_field :email,placeholder:"Email", class:"signupfield"%>
<%= f.password_field :password,placeholder:"Password", class:"signupfield"%>
<%= f.attachment_field :photo, class: "browse" %>
<%= f.submit "Sign Up", class: "signinsubmit" %>
<% end %>
<p class="signupline">
  Already have an account?
  <%= link_to "Sign In", root_path, class:"signuplink" %>
</p>
</center>
</div>
</div>
</div>
